.logo-img{
    height: 30% !important;
    width: 20%;
}

.custom-card{
    width:  22rem; /* Adjust the width as desired */
    height: 28rem; /* Adjust the height as desired */
    border: none;
}
.login{
    position: absolute;
    left: 20%;
}



