<div
  class="row row-cols-1 row-cols-md-4 g-4"
  style="margin-top: 2px; margin-left: 2px"
>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Add Nurse</h5>
      </div>
      <div class="card-footer">
        <a
          [routerLink]="['/Nurse']"
          class="btn btn-outline-dark d-flex justify-content-md-center"
          >Add Nurse</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Add Physician</h5>
      </div>
      <div class="card-footer">
        <a
          [routerLink]="['/Physician']"
          class="btn btn-outline-dark d-flex justify-content-md-center"
          >Add Physician</a
        >
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Add Patient</h5>
      </div>
      <div class="card-footer">
        <a
          [routerLink]="['/Patient']"
          class="btn btn-outline-dark d-flex justify-content-md-center"
          >Add Patients</a
        >
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Add Appointment</h5>
      </div>
      <div class="card-footer">
        <a
          [routerLink]="['/Appointment']"
          class="btn btn-outline-dark d-flex justify-content-md-center"
          >Add Appointment</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Add Department</h5>
      </div>
      <div class="card-footer">
        <a
          [routerLink]="['/Department']"
          class="btn btn-outline-dark d-flex justify-content-md-center"
          >Add Department</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Add Procedure</h5>
      </div>
      <div class="card-footer">
        <a
          [routerLink]="['/Procedure']"
          class="btn btn-outline-dark d-flex justify-content-md-center"
          >Add Procedure</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Add TrainedIn</h5>
      </div>
      <div class="card-footer">
        <a
          [routerLink]="['/TrainedIn']"
          class="btn btn-outline-dark d-flex justify-content-md-center"
          >Add TrainedIn</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Add Affiliated With</h5>
      </div>
      <div class="card-footer">
        <a
          [routerLink]="['/AffiliatedWith']"
          class="btn btn-outline-dark d-flex justify-content-md-center"
          >Add Affiliated With</a
        >
      </div>
    </div>
  </div>
</div>
