<div
  class="row row-cols-1 row-cols-md-4 g-4"
  style="margin-top: 2px; margin-left: 2px"
>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Nurse List</h5>
        <p class="card-text text-muted">Cilck below to get list of nurses</p>
      </div>
      <div class="card-footer">
        <a
          [routerLink]="['/NurseList']"
          class="btn btn-outline-dark d-flex justify-content-md-center"
          >Nurse List</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Physician List</h5>
        <p class="card-text text-muted">Cilck below to get list of physician</p>
      </div>
      <div class="card-footer">
        <a
          [routerLink]="['/PhysicianList']"
          class="btn btn-outline-dark d-flex justify-content-md-center"
          >Physician List</a
        >
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Patient List</h5>
        <p class="card-text text-muted">Cilck below to get list of patient</p>
      </div>
      <div class="card-footer">
        <a
          [routerLink]="['/PatientList']"
          class="btn btn-outline-dark d-flex justify-content-md-center"
          >Patients List</a
        >
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Appointment List</h5>
        <p class="card-text text-muted">
          Cilck below to get list of appointments
        </p>
      </div>
      <div class="card-footer">
        <a
          [routerLink]="['/AppointmentList']"
          class="btn btn-outline-dark d-flex justify-content-md-center"
          >Appointment List</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Department List</h5>
        <p class="card-text text-muted">
          Cilck below to get list of departments
        </p>
      </div>
      <div class="card-footer">
        <a
          [routerLink]="['/DepartmentList']"
          class="btn btn-outline-dark d-flex justify-content-md-center"
          >Department List</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Procedure List</h5>
        <p class="card-text text-muted">
          Cilck below to get list of procedures
        </p>
      </div>
      <div class="card-footer">
        <a
          [routerLink]="['/ProcedureList']"
          class="btn btn-outline-dark d-flex justify-content-md-center"
          >Procedure List</a
        >
      </div>
    </div>
  </div>
</div>
