<div class="row row-cols-1 row-cols-md-4 g-4" style="margin-top: 2px; margin-left: 2px">
  <div class="col">
    <div class="card h-100">
      <div class="card-body  mx-auto">
        <img class="card-img-top img-size" src="assets\Resources\nurse.png" rel="nofollow" alt="Card image cap">
      </div>
      <div class="card-footer">
        <a [routerLink]="['/Nurse']" class="btn btn-outline-dark d-flex justify-content-md-center">Add Nurse</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body mx-auto">
        <img class="card-img-top img-size" src="assets\Resources\doctor.png" rel="nofollow" alt="Card image cap">
      </div>
      <div class="card-footer">
        <a [routerLink]="['/Physician']" class="btn btn-outline-dark d-flex justify-content-md-center">Add Physician</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body mx-auto">
        <img class="card-img-top img-size" src="assets\Resources\patient.png" rel="nofollow" alt="Card image cap">
      </div>
      <div class="card-footer">
        <a [routerLink]="['/Patient']" class="btn btn-outline-dark d-flex justify-content-md-center">Add Patients</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body mx-auto">
        <img class="card-img-top img-size" src="assets\Resources\appointment.png" rel="nofollow" alt="Card image cap">
      </div>
      <div class="card-footer">
        <a [routerLink]="['/Appointment']" class="btn btn-outline-dark d-flex justify-content-md-center">Add
          Appointment</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body mx-auto">
        <img class="card-img-top img-size" src="assets\Resources\department.png" rel="nofollow" alt="Card image cap">
      </div>
      <div class="card-footer">
        <a [routerLink]="['/Department']" class="btn btn-outline-dark d-flex justify-content-md-center">Add
          Department</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body mx-auto">
        <img class="card-img-top img-size" src="assets\Resources\procedure.png" rel="nofollow" alt="Card image cap">
      </div>
      <div class="card-footer">
        <a [routerLink]="['/Procedure']" class="btn btn-outline-dark d-flex justify-content-md-center">Add Procedure</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body mx-auto">
        <img class="card-img-top img-size" src="assets\Resources\trainedIn.png" rel="nofollow" alt="Card image cap">
      </div>
      <div class="card-footer">
        <a [routerLink]="['/TrainedIn']" class="btn btn-outline-dark d-flex justify-content-md-center">Add TrainedIn</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body mx-auto">
        <img class="card-img-top img-size" src="assets\Resources\affiliatedWith.png" rel="nofollow" alt="Card image cap">
      </div>
      <div class="card-footer">
        <a [routerLink]="['/AffiliatedWith']" class="btn btn-outline-dark d-flex justify-content-md-center">Add
          Affiliated With</a>
      </div>
    </div>
  </div>
</div>