<nav class="navbar navbar-expand px-2 custom-nav">
  <a class="navbar-brand mx-4">HMS</a>
  <div class="container-fluid">
    <div class="side-nav-button p-2 mx-4 text-dark" >
      <fa-icon [icon]="fabars" (click)="SideNavToggle()"></fa-icon>&nbsp;
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div class="btn-nav">
          <a
            class="btn btn-outline-dark btn-small navbar-btn"
            href="login"
            >Logout</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>
