.custom-card{
    width:  22rem; /* Adjust the width as desired */
    height: 24rem; /* Adjust the height as desired */
    border: none;
}

.logo-img{
    height: 50% !important;
    width: 20%;
}

.login{
    position: absolute;
    left: 20%;
}





