  <div class="card custom-card shadow col-md-12 m-2 border-0">
    <div class="card-header text-center border-0" style="background-color: #f2dcff;">
      <h2>List of Physicians</h2>
    </div>

    <div class="container mt-4 ">
        <div class="row">
          <div class="col">
            <select class="form-select" aria-label="Default select example">
                <option selected>--Search physician by--</option>
                <option value="1">Search by Name</option>
                <option value="2">Search by Position</option>
                <option value="3">Search by EmployeeID</option>
              </select>
          </div>
          
          <div class="col">
            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <button type="button"  class="btn btn-outline-primary mr-5">search</button>
              </div>
          </div>
        </div>
      </div>

    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">EmployeeID</th>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">SNN</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let app of  Physician">
            <td>
              {{app.employeeId}}
            </td>
            <td>
              {{app.name}}
            </td>
            <td>
              {{app.position}}
            </td>
            <td>
              {{app. ssn}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
