<div class="row">
  <div class="col-md-6">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Add Appointment</h5>
      </div>
      <div class="card-footer">
        <a
          [routerLink]="['/Appointment']"
          class="btn btn-outline-dark d-flex justify-content-md-center"
          >Add Appointment</a
        >
      </div>
    </div>
  </div>

  <div class="col-md-12 my-2">
    <div class="card custom-card shadow border-0">
      <div
        class="card-header text-center border-0"
        style="background-color: #f2dcff"
      >
        <h2>List of Appointment</h2>
      </div>
      <div class="container mt-4">
        <div class="row">
          <div class="col">
            <select
              class="form-select"
              aria-label="Default select example"
              [(ngModel)]="searchAttribute"
            >
              <option value="" disabled selected hidden>--Search appointment by--</option>

              <option value="appid">Search by AppointmentID</option>
              <option value="prepNurse"> Search by PrepNurse</option>
              <option value="phyid">Search by Physician</option>
              <option value="patid">Search by Patient</option>
            </select>
          </div>

          <div class="col">
            <div class="input-group">
              <input
                type="search"
                id="search-query"
                [(ngModel)]="searchQuery"
                class="form-control rounded"
                aria-label="Search"
                aria-describedby="search"
              />

              <span>
                &nbsp;&nbsp;&nbsp;

                <button
                  type="button"
                  class="btn btn-outline-dark rounded"
                  (click)="search()"
                >
                  Search
                </button>
              </span>
            </div>
          </div>
        </div>


        <div class="card-body table table-striped container container-sm">
          <div class="card-body ">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">AppointmentID</th>
              <th scope="col">PatientID</th>
              <th scope="col">Preparation Nurse</th>
              <th scope="col">PhysicianID</th>
              <th scope="col">Start Date Time</th>
              <th scope="col">End Date Time</th>
              <th scope="col">ExaminationRoom</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let app of Appointment">
              <td>
                {{ app.appointmentId }}
              </td>
              <td>
                {{ app.patient }}
              </td>
              <td>
                {{ app.prepNurse }}
              </td>
              <td>
                {{ app.physician }}
              </td>
              <td>
                {{ app.startDateTime }}
              </td>
              <td>
                {{ app.endDateTime }}
              </td>
              <td>
                {{ app.examinationRoom }}
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-outline-dark"
                  routerLink="/updateAppointment/{{ app.appointmentId }}"
                >
                  Update
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  </div>