<div class="row">
  <div class="col-md-6">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Add Patient</h5>
      </div>
      <div class="card-footer">
        <a
          [routerLink]="['/Patient']"
          class="btn btn-outline-dark d-flex justify-content-md-center"
          >Add Patient</a
        >
      </div>
    </div>
  </div>

  <div class="col-md-12 my-2">
    <div class="card custom-card shadow border-0">
      <div
        class="card-header text-center border-0"
        style="background-color: #f2dcff"
      >
        <h3>List of Patients</h3>
      </div>

      <div class="container mt-4">
        <div class="row">
          <div class="col">
            <select
              class="form-select"
              aria-label="Default select example"
              [(ngModel)]="searchAttribute"
            >
            <option value="" disabled selected hidden>
              --Search patient by--
            </option>
              <option value="ssn">Search by SSN</option>
              <option value="name">Search by Name</option>
              <option value="insuranceId">Search by InsuranceID</option>
              <option value="pcp">Search by PCP</option>
            </select>
          </div>

          <div class="col">
            <div class="input-group">
              <input
                type="search"
                id="search-query"
                [(ngModel)]="searchQuery"
                class="form-control rounded"
                aria-label="Search"
                aria-describedby="search"
              />

              <span>
                &nbsp;&nbsp;&nbsp;

                <button
                  type="button"
                  class="btn btn-outline-dark rounded"
                  (click)="search()"
                >
                  Search
                </button>
              </span>
            </div>
          </div>
        </div>

        <div class="card-boday table table-striped container container-sm">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">SSN</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">InsuranceID</th>
                <th scope="col">PCP</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let app of Patient">
                <td>
                  {{ app.ssn }}
                </td>
                <td>
                  {{ app.name }}
                </td>
                <td>
                  {{ app.address }}
                </td>
                <td>
                  {{ app.phone }}
                </td>
                <td>
                  {{ app.insuranceID }}
                </td>
                <td>
                  {{ app.pcp }}
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-outline-dark"
                    routerLink="/updatePatient/{{ app.ssn }}"
                  >
                    Update
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
