<div class="jumbotron">
    <h1 class="text-center" >Edit update Physician Form </h1>
</div>

<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success !</strong>&nbsp;&nbsp;Your data Updated Successfully..!!
    <button (click)="closealert()" type="button" class="close" data-dismiss="alert" aria-label="hidden">
        <span aria-hidden="true">&times;</span>
    </button>

</div>

<form [formGroup]="editphysician" (ngSubmit)="updatephysician()">
<div class="form-group container container-sm">
<label style="margin-top:5px; margin-bottom: 5px; ">EmployeeID</label>
<input type="text" class="form-control" style="width: 400px;" placeholder="Enter Employee Id" formControlName="employeeId">
<label style="margin-top:5px; margin-bottom: 5px;">Name</label>
<input type="text" class="form-control" style="width: 400px;" placeholder="Enter Employee Name" formControlName="name">

<label style="margin-top: 5px; margin-bottom: 5px;">Position</label>
<input type="text" class="form-control" style="width: 400px;" placeholder="Enter Employee Position" formControlName="position">


<label style="margin-top:5px; margin-bottom: 5px;">SSN</label>
<input type="text" class="form-control"  style="width: 400px;" placeholder="Enter Employee SSN" formControlName="ssn">

<button type="submit " class="btn btn-outline-warning" style="margin-top: 10px;">Update</button>
</div>
</form>