<div class="row">
  <div class="col-md-6">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Add Nurse</h5>
      </div>
      <div class="card-footer">
        <a
          [routerLink]="['/Nurse']"
          class="btn btn-outline-dark d-flex justify-content-md-center"
          >Add Nurse</a
        >
      </div>
    </div>
  </div>

  <div class="col-md-12 my-2">
    <div class="card custom-card shadow border-0">
      <div
        class="card-header text-center border-0"
        style="background-color: #f2dcff"
      >
        <h3>List of Nurses</h3>
      </div>

      <div class="container mt-4">
        <div class="row">
          <div class="col">
            <select
              class="form-select"
              aria-label="Default select example"
              [(ngModel)]="searchAttribute"
            >
            <option value="" disabled selected hidden>
              --Search nurse by--
            </option>
             
              <option value="empid">Search by EmployeeID</option>
              <option value="name">Search by Name</option>
              <option value="ssn">Search by SSN</option>
            </select>
          </div>
          <div class="col">
            <div class="input-group">
              <input
                type="search"
                id="search-query"
                [(ngModel)]="searchQuery"
                class="form-control rounded"
                aria-label="Search"
                aria-describedby="search"
              />

              <span>
                &nbsp;&nbsp;&nbsp;

                <button
                  type="button"
                  class="btn btn-outline-dark rounded"
                  (click)="search()"
                >
                  Search
                </button>
              </span>
            </div>
          </div>
        </div>

        <div class="card-body table table-striped container container-sm">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">EmployeeID</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Registered</th>
                <th scope="col">SSN</th>
                <th scope="col"></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let app of Nurse">
                <td>
                  {{ app.employeeId }}
                </td>
                <td>
                  {{ app.name }}
                </td>
                <td>
                  {{ app.position }}
                </td>
                <td>
                  {{ app.registered ? "Yes" : "No" }}
                </td>
                <td>
                  {{ app.ssn }}
                </td>
                <td>
                  <a routerLink="/UpdateNurse/{{ app.employeeId }}"
                    ><button type="button" class="btn btn-outline-dark">
                      Update
                    </button></a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- [(ngModel)]="searchVal" -->
  <!-- (change)="getSelectVal($event)" -->
</div>
